@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --cor_font_hover: #1D8FF0;
    --cor_fonte: #6600FF;
    --cor_linhas: #BD00FF;
    --poppins: "Poppins", sans-serif;
    --oxygen: "Oxygen", sans-serif;
}
